
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.statistic img{
width: 70px;
height: 30px;
}

.statistic{
    display: flex;
    justify-content: space-around;
}

.statistic-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statistic-item p{
    margin-bottom: 5px;
    margin-top: 5px;
}


.card{
	background: orange;
    padding: 20px;
	width: 250px;
	display: flex;
}

.card-img {
    width: 100px;
    height: 100px;
}

.card p{
	color: white;
    padding-left: 15px;
}

.title{
	position: relative;
}

.line {
    width: 55px;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 15px;
    top: 22px;
}

.cards{
	background-color: #c7c7c7;
	padding: 50px 100px;
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}


.contact-us{
    background-color: #2B2D37;
    padding: 35px 175px;
    display: flex;
    justify-content: space-between;
}

.circle{
	width: 24px;
	height: 24px;
	background-color: #D9D9D9;
	border-radius: 100%;
}

.contact-us-item{
	display: flex;
		align-items: center;
		padding: 0 15px;
}

.contact-us-items{
	display: flex;
	color: #D9D9D9;
}


.contact-us-content {
    margin-left: 15px;
}

.circles {
    display: flex;
}

.circles .circle {
    margin: 5px;
}

.contact-des{
	color: #999999;
	margin-top: 8px;
	font-size: 14px;
}

.contact-title{
	font-size: 18px;
}

.orange-header{
    background-color: #FF7B00;
    padding: 25px 30px;
    width: 75%;
    display: flex
;
    justify-content: space-between;
    /* margin-left: 199px; */
    margin: auto;
    border-radius: 0 0 10px 10px;
    margin-top: -25px;
	margin-bottom: 20px;

}

.menu{
	display: flex;
}

.menu li{
padding: 0 15px;
}

.menu li a{
	color: #D9D9D9;
	text-decoration: none;
}

.name{
	display: flex;
}

.name p{
	color: #D9D9D9;
	font-size: 20px;
	margin-left: 5px;
}


@media screen and (max-width:998px) {
	.contact-us {
		padding: 35px 15px;
		flex-direction: column;
		align-items: center;
	}

	.menu{
		display: none;
	}
}


@media screen and (min-width:998px) {
	.mobile-menu{
		display: none;
	}
}