.list{
    display: flex;
    list-style: none;
}

.list li{
    padding: 0 20px;
}

@media screen and (max-width:668px) {
    .list{
        display: none;
    }
}

@media screen and (min-width:668px){
    .mobile-menu{
        display: none;
    }
}